body {
	background-color: lightblue;
}

h1 {
font-size: 35px;
} 
 
p {
font-size: 22px;
}

li {
font-size: 22px;
}
  
h3 {
font-size: 25px;
}

input {
	border: 200px;
	border-radius: 100px;
	height: 20px;
	width: 150px;
	font-size: 15px;
}

select {
	border: 200px;
	border-radius: 50px;
	height: 25px;
	width: 20px;
	font-size: 22;
	color: black;
	background-color: rgb(50, 190, 22);
}

#auswahl {
	width: 60px;
}

#year {
	width: 60px;
}

#year1 {
	width: 60px;
}

#year2 {
	width: 22px;
}

#day { 
	width: 35px;
}

#day1 { 
	width: 35px;
}

#day2 { 
	width: 35px;
}

#month { 
	width: 35px;
}

#month1 { 
	width: 35px;
}

#month2 { 
	width: 35px;
}

#bday {
	width: 50px;
	height: 25px;
}

#deal {
	width: 120px;
}

#bestaetigen {
	height: 30px;
	width: 100px;
	border-radius: 50px;
	color: black;
	background-color: coral;
}

#personen {
	width: 35px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(50, 190, 22);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(242, 97, 34);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;